<br><br><br><br><br><br><br><br>

<div class="container">

<h1>Your Upcoming Patients</h1>

<table>
	<tr>
		<th>Seen?</th>
		<th>Queue Number</th>
		<th>Name</th>
		<th>Patient Age</th>
		<th>Symptoms</th>
		<th colspan="4"></th>
	</tr>

	<% @visits.each do |visit| %>
	<tr>
		<% if @visits.index(visit) == 0 %>
			<td><%= link_to 'Seen', visit_path(visit), method: :delete, data: {confirm: 'Are you sure this patient has been treated? This will remove the patient from the queue'} %></td>
		<% else %>
			<td></td>
		<% end %>
		<td><%= @visits.index(visit) + 1 %></td>
		<td><%= visit.name %></td>
		<td><%= visit.age %></td>
		<td><%= visit.symptoms %></td>
	</tr>
	<% end %>
</table>

</div>
