<% if @patient.errors.any? %>
	<h2>
		<%= pluralize(@patient.errors.count, "error") %>
		prohibited this place from being saved
	</h2>
	<ul>
		<% @patient.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>


<%= form_for @patient do |f| %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name, autofocus: true %>
	</div>

	<div class="field">
		<%= f.label :date_of_birth %><br />
		<%= f.date_field :date_of_birth %>
	</div>

	<div class="field">
		<%= f.label :contact_number %><br />
		<%= f.text_field :contact_number %>
	</div>

	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>

<br><br>

<%= link_to 'Home', root_path %>